* {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.8);
    height: 100%;
}

body {
    height: 100%;
}

.front-page {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    margin-bottom: 3em;
}

.front-page > h1 {
    font-size: 5em;
    padding: 2em 0em;
}

.front-page h2 {
    font-size: 1.8em;
    padding: 1em 0em;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.57);
    background-color: rgba(0, 0, 0, 0.3);
    margin: 1em 0;
}

@media screen and (max-width: 1200px) {
    .map-container {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media screen and (max-width: 800px) {
    .map-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 500px) {
    .map-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.map-container {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(15em, auto);
    max-width: 1200px;
    width: 90%;
}

.map {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.7em;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    color: rgba(255, 255, 255, 0.82);
    transition: 0.15s;
}

.radius-picker span {
    font-size: 11px;
    text-transform: uppercase;
}

.radius-input {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 3px;
    width: 50px;
    cursor: text;
    text-align: center;
    font-weight: bold;
    color: #052216;
}

.map-text {
    padding: 15px;
}

.map-actions {
    text-align: left;
    position: relative;
    bottom: -1em;
}

.clickable {
    cursor: pointer;
}

.map-play, .map-score {
    color: #1ca56f !important;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
    font-size: 0.8em;
    padding: 6px;
    border-radius: 3px;
    transition: 0.1s;
}

.map-play:hover, .map-score:hover {
    background-color: rgba(28, 165, 111, 0.2);
    color: #40d298;
}

.map-play a:active, .map-score:active {
    background-color: rgba(28, 165, 111, 0.35);
}

.map-title {
    pointer-events: none;
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    position: relative;
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

.map-background {
    pointer-events: none;
    height: calc(100% - 95px);
    width: 100%;
    background: no-repeat center;
    background-size: cover;
    display: inline-block;
    border-top-right-radius: 0.7em;
    border-top-left-radius: 0.7em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.20);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.60);
}

*:focus {
    outline: none;
}

*:link, *:visited {
    color: white;
    text-decoration: none;
}

::-moz-selection {
    color: white;
    background: #1b7b57;
}

::selection {
    color: white;
    background: #1b7b57;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input[type=text], input[type=password], input[type=email], input[type=number] textarea {
    cursor: text;
}

input[type='button'], input[type='submit'], a[href] {
    cursor: pointer;
}